@model Repository.Database_Layer.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.engineCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engineCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enginePower)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
